@model MyAspNetMvcApp.Areas.App.Models.Lookup

<tr id="row-@Model.Id">
    <td>
        @Html.EditorFor(model => model.Type, new {  })
    </td>
    <td>
        @Html.EditorFor(model => model.Key, new {   })
    </td>
    <td>
        @Html.EditorFor(model => model.Value, new {   })
    </td>
    <td>
        @Html.EditorFor(model => model.Description, new { })
    </td>
    <td align="center">
        @Html.EditorFor(model => model.IsActive, new { })
    </td>
    <td>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        <button type="button" id="btn-@Model.Id" data-Id="@Model.Id" class="btn btn-info btn-xs btnSave"><i class="glyphicon glyphicon-floppy-save"></i> Save</button>
    </td>
</tr>
