@model MyAspNetMvcApp.Lookup
@{
    ViewBag.Title = "Manage Lookup Key/Value";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
    <style>
        .btnEdit, .btnSave {
            line-height: 1 !important;
        }
        td input {
            border: none;
        }
        .modal-content {
            overflow: hidden;
        }
        td a:hover, th a:hover {
            text-decoration: none;
        }
    </style>    

    <style>
    </style>
}

<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-plus-sign"></i> Add New Lookup</button>
        <h2>Lookups</h2>
    </div>
</div>
<div class="table-responsive">

    <table class="table table-hover" id="tblLookup">
        <thead>
            <tr>
                <th class="hidden">Id</th>
                <th><a href="@Url.Action("Index","Lookup", new { area = "app" })" title="Click to show all Lookup Types">TYPE</a></th>
                <th width="10%">KEY</th>
                <th>VALUE</th>
                <th>DESCRIPTION</th>
                <th width="5%" title="Click to show Inactive Lookup items"><a href="@Url.Action("Index","Lookup", new { area = "app", showInactive = true })">ACTIVE</a></th>
                <th width="5%">ACTION</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lookup in ViewBag.lookups as List<MyAspNetMvcApp.Lookup>)
            {
                <tr>
                    <td><a href="#" class="filterType">@lookup.Type</a></td>
                    <td>@lookup.Key</td>
                    <td>@lookup.Value</td>
                    <td>@lookup.Description</td>
                    <td align="center">@(lookup.IsActive ? "✓" : "✗")</td>
                    <td>
                        <button type="button" id="btn-@lookup.Id" data-Id="@lookup.Id" class="btn btn-warning btn-xs btnEdit hidden"><i class="glyphicon glyphicon-edit"></i> Edit</button>
                    </td>
                </tr>

            }
        </tbody>
    </table>

</div>


<form action="@Url.Action("Create", "Lookup", new { area = "App" })" method="post">
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Lookup Key/Value</h4>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "awesomplete form-control", list = "lookupTypesList" } })
                                <datalist id="lookupTypesList">
                                    @foreach(var strItem in ViewBag.lookupTypes as List<string>)
                                    {
                                        <option>@strItem</option>
                                    }
                                </datalist>
                                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Key, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Key, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Key, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">&nbsp;</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Description" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>



                </div>
                <div class="modal-footer">
                    <button type="submit" id="btnCreateLookup" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </div>
    </div>

</form>

@section Scripts {
    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }

    @{
        Html.RenderPartial("_SubmitAnimationScriptPartial");
    }

    <script>
        $(document).on('click', '#btnCreateLookup', function (e) {
            e.preventDefault();
            var form = $(this).parents('form:first');
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: form.serialize(),
                success: function (data) {
                    $('tbody').append(data);
                },
                error: function (response) {
                    alert(response.statusText);
                }
            });
            $("#myModal").modal("hide");
            $('form').trigger("reset");
        });

        $("#myModal").on('hidden.bs.modal', function () {
            stopSubmitAnimator();
        });

        $(document).on({
            mouseenter: function () {
                $(this).find('.btnEdit').removeClass('hidden');
            },
            mouseleave: function () {
                $(this).find('.btnEdit').addClass('hidden');
            }
        }, "#tblLookup tr"); //pass the element as an argument to .on


        $(document).on('click', '.btnEdit', function (e) {
            e.preventDefault();
            var thisItem = $('#' + e.currentTarget.id);
            $.ajax({
                url: '@Url.Action("Edit", "Lookup", new { area = "App" })',
                data: { Id: thisItem.attr('data-Id') },
                success: function (data) {
                    thisItem.closest('tr').replaceWith(data);
                },
                error: function (response) {
                    alert(response.statusText);
                }
            });
        });

        $(document).on('click', '.btnSave', function (e) {
            e.preventDefault();
            var thisItem = '#row-' + $('#' + e.currentTarget.id).attr('data-Id');
            $.ajax({
                type: "POST",
                url: '@Url.Action("Edit", "Lookup", new { area = "App" })',
                data: $(thisItem + " :input").serialize(),
                success: function (data) {
                    $(thisItem).replaceWith(data);
                },
                error: function (response) {
                    alert(response.statusText);
                    window.location.reload(false); 
                }
            });
        });

        $(document).on('click', '.filterType', function (e) {
            e.preventDefault();
            window.location.href = '@Url.Action("Index","Lookup", new { area = "app" })?filterType=' + $(this).text();
        });
    </script>
}




