<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="@MyAspNetMvcApp.AppSettings.AppTitle" />
    <meta property="og:url" content="@MyAspNetMvcApp.AppSettings.AppDomainName" />
    <meta property="og:description" content="@MyAspNetMvcApp.AppSettings.AppDescription" />
    <title>@ViewBag.Title - @MyAspNetMvcApp.AppSettings.AppTitle</title>
    
@if(TempData["MessageAlert"] != null)
{
    <script>
        alert('@TempData["MessageAlert"]')
    </script>
}
@if(ViewBag.MessageAlert != null)
{
    <script>
        alert('@ViewBag.MessageAlert')
    </script>
}

@if (HttpContext.Current.Request.IsLocal)
{
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/bootstrap-dialog.css")" rel = "stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel = "stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-notifications.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet">
    <script src="@Url.Content("~/Scripts/modernizr-2.8.3.js")"></script>
}
else
{
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.4/css/bootstrap-dialog.min.css" rel="stylesheet" integrity="sha256-wstTM1F5dOf7cgnlRHIW3bmoRAAGh6jL7tMIvqTuFZE=" crossorigin="anonymous" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet" integrity="sha256-yMjaV542P+q1RnH6XByCPDfUFhmOafWbeLPmqKh11zo=" crossorigin="anonymous" />
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4=" crossorigin="anonymous"></script>
}

    @{ Html.RenderPartial("_InternalLayoutCSS"); }

    @RenderSection("Head", required: false)

    @{ Html.RenderPartial("_GoogleAnalytics"); }

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top hidden-print">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(MyAspNetMvcApp.AppSettings.AppTitle, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/home/index">Home</a></li>
                    <li><a href="/home/about">About</a></li>
                    <li><a href="/home/contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown Menu <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Menu item 1</a></li>
                            <li><a href="#">Menu item 2</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Sub Menu Header</li>
                            <li><a href="#" target="_blank">Menu item 3</a></li>
                        </ul>
                    </li>

                    @if (Request.IsAuthenticated && (User.IsInRole("admin")))
                    {
                        <li>@Html.ActionLink("User Roles", "Index", "Roles")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (TempData["MessagePanel"] != null)
        {
            <div class="alert alert-info alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @TempData["MessagePanel"]
            </div>
        } 
        @if (ViewBag.MessagePanel != null)
        {
            <div class="alert alert-info alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                @ViewBag.MessagePanel
            </div>
        }        

        @RenderBody()
    </div>

    <footer id="footer" class="footer text-center navbar-inverse hidden-print">
        <small class="text-muted">&copy; @DateTime.Now.Year - <a href="mailto:@MyAspNetMvcApp.AppSettings.AppDevEmail" class="text-muted">@MyAspNetMvcApp.AppSettings.AppDeveloper</a></small>
    </footer>


@if (HttpContext.Current.Request.IsLocal)
{
    <script src="@Url.Content("~/Scripts/jquery-3.1.1.min.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-dialog.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script >
    <script src="@Url.Content("~/Scripts/respond.min.js")"></script>
}
else
{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" integrity="sha256-1hjUhpc44NwiNg8OwMu2QzJXhD8kcj+sJA3aCQZoUjg=" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.4/js/bootstrap-dialog.min.js" integrity="sha256-IpgnbT7iaNM6j9WjtXKI8VMJ272WM9VvFYkZdu1umOA=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha256-5YmaxAwMjIpMrVlK84Y/+NjCpKnFYa8bWWBbUHSBGfU=" crossorigin="anonymous"></script>
    <script src="//ajax.aspnetcdn.com/ajax/respond/1.4.2/respond.min.js"></script>   
}
    <script src="@Url.Content("~/Scripts/Site.js")"></script>

@if (ViewBag.MessageBox != null)
{
    <script>
          BootstrapDialog.show({
              title: '@MyAspNetMvcApp.AppSettings.AppTitle',
              message: '@ViewBag.MessageBox'
          });
    </script>
}
@if (TempData["MessageBox"] != null)
{
    <script>
          BootstrapDialog.show({
              title: '@MyAspNetMvcApp.AppSettings.AppTitle',
              message: '@TempData["MessageBox"]'
          });
    </script>
}

@RenderSection("scripts", required: false)

    @* This is to remove the overlay ad in Somee.com *@
    <script>
        $(document).ready(function () {
            $('#nextAll').nextAll().remove();
        });
    </script>
    <hr id="nextAll" style="display:none;" />
</body>
</html>

