@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <form action="@Url.Action("LogOff", "Account", new { Area = "Account" })" method="post" id="logoutForm" class="navbar-right">
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            @*@Html.Partial("_NotificationMenu")*@
            @if (Request.IsAuthenticated && (User.IsInRole(System.Configuration.ConfigurationManager.AppSettings["AdminRolename"])))
            {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello @User.FirstName() <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            @Html.ActionLink("My Profile", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>
                        <li>@Html.ActionLink("Manage User Roles", "Index", "Roles")</li>
                    </ul>
                </li>
            }
            else
            {
                <li>
                    @Html.ActionLink("Hello " + User.FirstName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
            }
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @if (AppSettings.FacebookLoginEnabled)
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Register <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/Account/Register" id="registerLink">Register</a></li>
                    <li><a href="/Account/FbSignIn">Sign in with <i class="fa fa-facebook-f"></i>acebook</a></li>
                </ul>
            </li>
        }
        else
        {
            <li>@Html.ActionLink("Register", "Register", "Account", new { Area = "Account" }, htmlAttributes: new { id = "registerLink" })</li>
        }
        <li>@Html.ActionLink("Log in", "Login", "Account", new { Area = "Account" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
