@model MyAspNetMvcApp.Areas.Account.ViewModels.RegisterViewModel

@*
    <div class="form-group">
        <label for="@nameof(Model.custom_field)" class="col-md-4 control-label">Custom Field</label>
        <div class="col-md-8">
            <input type="text" name="@nameof(Model.custom_field)" id="@nameof(Model.custom_field)" class="form-control"  />
        </div>
    </div>

    <div class="form-group">
        <label for="City" class="col-md-4 control-label">City</label>
        <div class="col-md-8">
            <input type="text" name="@nameof(Model.City)" id="@nameof(Model.City)" class="form-control" />
        </div>
    </div>
*@
