@model List<MyAspNetMvcApp.Models.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>Book List</h2>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Book with Ajax</button>

<div class="table-responsive">

    <table class="table table-hover table-striped table-condensed">
        <thead>
            <tr>
                <th>ID</th>
                <th>TITLE</th>
                <th>AUTHOR</th>
                <th>ISBN</th>
                <th>PUBLISH YEAR</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.ISBN</td>
                    <td>@book.PublishYear</td>
                    <td>
                        <a href="/book3/edit/@book.Id">Edit</a> |
                        <a href="/book3/delete/@book.Id" onclick="return confirm('Delete @book.Title by @book.Author? Pag sure ja!');">Delete</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>

</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Book</h4>
            </div>
            <div class="modal-body">

                <form action="/ajaxsample/create" class="form-horizontal">
                    <fieldset>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="title">Title</label>
                            <div class="col-md-4">
                                <input id="title" name="title" type="text" class="form-control">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="author">Author</label>
                            <div class="col-md-4">
                                <input id="author" name="author" type="text" class="form-control">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="isbn">ISBN</label>
                            <div class="col-md-4">
                                <input id="isbn" name="isbn" type="text" class="form-control">
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="publishyear">Publish Year</label>
                            <div class="col-md-4">
                                <input id="publishyear" name="publishyear" type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="FileUploade">Picture</label>
                            <div class="col-md-4">
                                <input type="file" name="FileUpload" id="FileUpload" accept="image/*" />
                            </div>
                        </div>

                    </fieldset>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-submit">Submit</button>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }

    @{
        Html.RenderPartial("_SubmitAnimationScriptPartial");
    }

    <script>
        $(document).on('click', '.btn-submit', function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: form.serialize(),
                success: function (data) {
                    $('tbody').append(data);
                    $("#myModal").modal("hide");
                    $('form').trigger("reset");
                }
            });
        });

        $("#myModal").on('hidden.bs.modal', function () {
            stopSubmitAnimator();
        });

    </script>
}
