@model MyAspNetMvcApp.Areas.Account.ViewModels.ChangePasswordViewModel

<p class="text-info">
    You do not have a local password for @AppSettings.AppTitle. Supply a password 
    so you can log in without your Facebook account.
</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.Label("Email", new { @class = "col-md-5 control-label" })
        <div class="col-md-6">
            <input type="text" value="@User.Identity.Name" class="form-control" readonly />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-5 control-label" })
        <div class="col-md-6">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-5 control-label" })
        <div class="col-md-6">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-5 col-md-6">
            <input type="submit" value="Set password" class="btn btn-default" />
        </div>
    </div>
}
