@model MyAspNetMvcApp.Areas.Account.ViewModels.RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit Account";
}

@section Head {
<style>
    .table-user-information > tbody > tr {
        border-top: 1px solid rgb(221, 221, 221);
    }
    .table-user-information > tbody > tr:first-child {
        border-top: 0;
    }
    .table-user-information > tbody > tr > td {
        border-top: 0;
    }
    .table-user-information > tbody > tr > td:first-child {
        min-width: 120px;
    }
    .table-user-information > tbody > tr > td:nth-child(2) {
        color: #337ab7;
    }

    .toppad {
        margin-top: 20px;
    }
</style>


    <style>
        .panel input[type=text], .panel input[type=date], .panel input[type=email] {
            width: 100%;
            border: none;
        }
        .panel input[type=file] {
            width: 150px;
        } 
        .radio-inline {
            padding-top: 0px !important;
        }
    </style>

    <style>
        div.img-delete {
            position: relative;
        }
        div.img-delete:hover img {
            opacity: 0.5;
        }
        div.img-delete:hover input {
            display: block;
        }
        div.img-delete input {
            position: absolute;
            display: none;
        }
        div.img-delete input.delete {
            top: 0;
            left: 72%;
        }
    </style>
}

<div class="text-center">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">

        <form action="@Url.Action("EditProfile", "Account", new { area = "Account" })" method="post"  enctype="multipart/form-data" class="form-horizontal" role="form">
            @Html.AntiForgeryToken()
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>@Model.FirstName @Model.LastName</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 img-delete" align="center">
                            @if (string.IsNullOrEmpty(Model.Picture.ToBase64StringHTMLImgJpgSrc()))
                            {
                                <img alt="User Profile Photo" src="@Url.Content("~/Images/fb-noprofilepic.jpg")" class="img-circle img-responsive">
                            }
                            else
                            {
                                <img alt="User Profile Photo" src="@Model.Picture.ResizeToThumbnail(200,200).ToBase64StringHTMLImgJpgSrc()" class="img-circle img-responsive">
                                <input class="delete btn-danger btn-xs visible-xs" type="button" value="X" title="Remove profile pic" />
                            }
                        </div>

                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    @if (Model.UserName != Model.Email)
                                    {
                                        <tr>
                                            <td>Username</td>
                                            <td>@Html.TextBoxFor(m => m.UserName, new { @readonly = "readonly" })</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            @if (User.IsInRole(System.Configuration.ConfigurationManager.AppSettings["AdminRolename"]))
                                            {
                                                <td>@Html.TextBoxFor(m => m.Email, new { @readonly = "readonly" })</td>
                                            }
                                            else
                                            {
                                                <td>@Html.TextBoxFor(m => m.Email, new { type = "email" })</td>
                                            }
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>Email</td>
                                            <td>@Html.TextBoxFor(m => m.Email, new { @readonly = "readonly" })</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td>Mobile Number</td>
                                        <td>
                                            @Html.TextBoxFor(m => m.CountryCode, new { placeholder = "##", @style = "width:18%", title = "Country Code", maxlength = "3" })
                                            @Html.TextBoxFor(m => m.PhoneNumber, new { placeholder ="##########", maxlength = "15", @style = "width:52%" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Firstname</td>
                                        <td>@Html.TextBoxFor(m => m.FirstName, new { })</td>
                                    </tr>
                                    <tr>
                                        <td>Lastname</td>
                                        <td>@Html.TextBoxFor(m => m.LastName, new { })</td>
                                    </tr>
                                    <tr>
                                        <td>Birthday</td>
                                        <td>@Html.TextBoxFor(m => m.BirthDate, "{0:yyyy-MM-dd}", new { type = "date" })</td>
                                    </tr>
                                    <tr>
                                        <td>Gender</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input type="radio" name="@nameof(Model.Gender)" id="GMale" value="M" @(Model.Gender == "M" ? "Checked" : string.Empty) >Male
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="@nameof(Model.Gender)" id="GFemale" value="F" @(Model.Gender == "F" ? "Checked" : string.Empty)>Female
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Photo</td>
                                        <td>
                                            <input type="file" name="FileUpload" accept="image/*" />
                                            <input type="hidden" name="deletePic" id="deletePic" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>



                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="/account/manage" class="btn btn-default">Cancel</a>
                    <span class="pull-right">
                        <button type="submit" class="btn btn-primary">Update Account</button>
                    </span>
                </div>
            </div>

        </form>





    </div>
</div>


@section Scripts {
    <script>
        $('input.delete').click(function () {
            $('#deletePic').val('true');
            $('.img-delete img').attr('src', '@Url.Content("~/Images/fb-noprofilepic.jpg")');
            $('.img-delete input.delete').removeClass('visible-xs').addClass('hidden');
        });
    </script>

}
