@model MyAspNetMvcApp.Areas.Account.ViewModels.RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit Account";
}

@section Head {
<style>
    .table-user-information > tbody > tr {
        border-top: 1px solid rgb(221, 221, 221);
    }
    .table-user-information > tbody > tr:first-child {
        border-top: 0;
    }
    .table-user-information > tbody > tr > td {
        border-top: 0;
    }
    .table-user-information > tbody > tr > td:first-child {
        min-width: 120px;
    }
    .table-user-information > tbody > tr > td:nth-child(2) {
        color: #337ab7;
    }

    .toppad {
        margin-top: 20px;
    }
</style>


    <style>
        .panel input[type=text], .panel input[type=date] {
            width: 100%;
            border: none;
        }
        .panel input[type=file] {
            width: 150px;
        } 
        .radio-inline {
            padding-top: 0px !important;
        }
    </style>
}

<div class="text-center">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">

        <form action="@Url.Action("EditProfile", "Account", new { area = "Account" })" method="post"  enctype="multipart/form-data" class="form-horizontal" role="form">
            @Html.AntiForgeryToken()
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>@Model.FirstName @Model.LastName</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Profile Photo" src="@Model.Picture.ToBase64StringHTMLImgJpgSrc()" class="img-circle img-responsive"> </div>

                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Email</td>
                                        <td>@Html.TextBoxFor(m => m.UserName, new { @readonly = "readonly" })</td>
                                    </tr>
                                    <tr>
                                        <td>Mobile Number</td>
                                        <td>
                                            @Html.TextBoxFor(m => m.CountryCode, new { @style = "width:15%" })
                                            @Html.TextBoxFor(m => m.PhoneNumber, new { @style = "width:55%" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Firstname</td>
                                        <td>@Html.TextBoxFor(m => m.FirstName, new { })</td>
                                    </tr>
                                    <tr>
                                        <td>Lastname</td>
                                        <td>@Html.TextBoxFor(m => m.LastName, new { })</td>
                                    </tr>
                                    <tr>
                                        <td>Birthday</td>
                                        <td>@Html.TextBoxFor(m => m.BirthDate, "{0:yyyy-MM-dd}", new { type = "date" })</td>
                                    </tr>
                                    <tr>
                                        <td>Gender</td>
                                        <td>
                                            <label class="radio-inline">
                                                <input type="radio" name="@nameof(Model.Gender)" id="GMale" value="M" @(Model.Gender == "M" ? "Checked" : string.Empty) >Male
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="@nameof(Model.Gender)" id="GFemale" value="F" @(Model.Gender == "F" ? "Checked" : string.Empty)>Female
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Photo</td>
                                        <td><input type="file" name="FileUpload" accept="image/*" /></td>
                                    </tr>
                                </tbody>
                            </table>



                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="/account/manage" class="btn btn-default">Cancel</a>
                    <span class="pull-right">
                        <button type="submit" class="btn btn-primary">Update Account</button>
                    </span>
                </div>
            </div>

        </form>





    </div>
</div>


@section Scripts {
    @{ Html.RenderPartial("~/Views/Shared/_SubmitAnimationScriptPartial.cshtml"); }



}
