@using MyAspNetMvcApp.Areas.Account.ViewModels;
@using Microsoft.AspNet.Identity;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Manage Account";

    RegisterViewModel profile = ViewData["profile"] as RegisterViewModel;
}

@section Head {
    <style>
        .table-user-information > tbody > tr {
            border-top: 1px solid rgb(221, 221, 221);
        }

            .table-user-information > tbody > tr:first-child {
                border-top: 0;
            }


            .table-user-information > tbody > tr > td {
                border-top: 0;
            }

                .table-user-information > tbody > tr > td:nth-child(2) {
                    color: #337ab7;
                }

        .toppad {
            margin-top: 20px;
        }

    </style>
    
}


<div class="text-center">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>@profile.FirstName @profile.LastName</strong></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="@Url.Content("~/Images/profile.jpg")" class="img-circle img-responsive"> </div>

                    <div class=" col-md-9 col-lg-9 ">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>Roles</td>
                                    <td><a href="@profile.UserName">@profile.RegistrationType</a></td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><a href="@profile.UserName">@profile.UserName</a></td>
                                </tr>
                                <tr>
                                    <td>Mobile Number</td>
                                    <td>+@profile.CountyCode@profile.PhoneNumber</td>
                                </tr>
                                <tr>
                                    <td>Date of Birth</td>
                                    <td>@profile.BirthDate.Value.ToString("MMMM dd, yyyy")</td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>@(profile.Gender == "M" ? "Male" : profile.Gender == "F" ? "Female" : "")</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button id="btnMoreProfile" data-original-title="More Profile Information" data-toggle="tooltip" title="More Profile Information" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-user"></i></button>
                <span class="pull-right">
                    <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                    <button id="btnChangePassword" data-original-title="Change Password" data-toggle="tooltip" title="Change Password" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-lock"></i></button>
                </span>
            </div>
        </div>

        @Html.Partial("~/Views/Shared/_MoreProfile.cshtml")

        <div class="panel panel-info hidden" id="pnlChangePassword">
            <div class="panel-heading">
                <h3 class="panel-title">Change Password</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        @if (ViewBag.HasLocalPassword)
                        {
                            @Html.Partial("_ChangePasswordPartial")
                        }
                        else
                        {
                            @Html.Partial("_SetPasswordPartial")
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>







@section Scripts {
    @{ Html.RenderPartial("~/Views/Shared/_ValidationScriptsPartial.cshtml"); }
    @{ Html.RenderPartial("~/Views/Shared/_SubmitAnimationScriptPartial.cshtml"); }

    <script>
        $("#btnMoreProfile").click(function () {
            $("#pnlMoreProfile").toggleClass('hidden');
        });
        $("#btnChangePassword").click(function () {
            $("#pnlChangePassword").toggleClass('hidden');
        });
    </script>
}
