@using MyAspNetMvcApp.Areas.Account.ViewModels;
@using Microsoft.AspNet.Identity;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Manage Account";

    RegisterViewModel profile = ViewData["profile"] as RegisterViewModel;
}

@section Head {
    <style>
        .table-user-information > tbody > tr {
            border-top: 1px solid rgb(221, 221, 221);
        }

            .table-user-information > tbody > tr:first-child {
                border-top: 0;
            }


            .table-user-information > tbody > tr > td {
                border-top: 0;
            }

                .table-user-information > tbody > tr > td:nth-child(2) {
                    color: #337ab7;
                }

        .toppad {
            margin-top: 20px;
        }

    </style>
    
    <style>
        /* START for gravatar*/
        .gavatar {
            color: rgb(255, 255, 255);
            background-color: #ddd;
            display: inline-block;
            font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
            font-size: 36px;
            border-radius: 80px;
            width: 80px;
            height: 80px;
            line-height: 80px;
            margin: 15px;
            text-align: center;
        }
        /* END for gravatar*/
    </style>
}


<div class="text-center">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <strong>@profile.FirstName @profile.LastName 
                        @if(ViewBag.Verified == true)
                        {
                            <i class="fa fa-check-circle"></i>
                        }
                     </strong>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center">
                        @if (string.IsNullOrEmpty(profile.Picture.ToBase64StringHTMLImgJpgSrc()))
                        {
                            @*<img alt="User Profile Photo" src="@Url.Content("~/Images/fb-noprofilepic.jpg")" class="img-circle img-responsive">*@
                            <div class="gavatar">@profile.FirstName[0]@profile.LastName[0]</div>
                        }
                        else
                        {
                            <img alt="User Profile Photo" src="data:image/jpg;base64,@profile.Picture.ResizeToThumbnail(200,200).ToBase64String()" class="img-circle img-responsive">
                        }
                    </div>

                    <div class=" col-md-9 col-lg-9 ">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td>Roles</td>
                                    <td>@profile.RegistrationType</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><a href="mailto:@profile.UserName">@profile.UserName</a></td>
                                </tr>
                                <tr>
                                    <td>Mobile Number</td>
                                    <td>@Gabs.Helpers.Formatter.FormatPhoneNumber(profile.PhoneNumber,profile.CountryCode)</td>
                                </tr>
                                <tr>
                                    <td>Date of Birth</td>
                                    <td>@(profile.BirthDate != null ? profile.BirthDate.GetValueOrDefault().ToString("MMMM dd, yyyy") : string.Empty)</td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>@(profile.Gender == "M" ? "Male" : profile.Gender == "F" ? "Female" : "")</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                @if (ViewBag.Verified == false)
                {
                    <button id="btnVerify" data-original-title="Verify Account" data-toggle="tooltip" title="Verify Account" type="button" class="btn btn-sm btn-primary">Verify Account</button>
                }
                else
                {
                    <button id="btnVerify" data-original-title="Verified Account" data-toggle="tooltip" title="Verified Account" type="button" class="btn btn-sm btn-success disabled" disabled><i class="fa fa-check-circle"></i> Verified Account</button>
                }
                <span class="pull-right">
                    <a href="/account/editprofile" data-original-title="Edit this user" data-toggle="tooltip" title="Edit Account" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                    <button id="btnChangePassword" data-original-title="Change Password" data-toggle="tooltip" title="Change Password" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-lock"></i></button>
                </span>
            </div>
        </div>

        <div class="panel panel-info hidden" id="pnlChangePassword">
            <div class="panel-heading">
                <h3 class="panel-title">Change Password</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        @if (ViewBag.HasLocalPassword)
                        {
                            @Html.Partial("_ChangePasswordPartial")
                        }
                        else
                        {
                            @Html.Partial("_SetPasswordPartial")
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



@section Scripts {
    @{ Html.RenderPartial("~/Views/Shared/_ValidationScriptsPartial.cshtml"); }
    @{ Html.RenderPartial("~/Views/Shared/_SubmitAnimationScriptPartial.cshtml"); }

    <script>
        $("#btnChangePassword").click(function () {
            $("#pnlChangePassword").toggleClass('hidden');
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#btnVerify").click(function () {
                $(this).attr('disabled', true);
                $(this).html('Requesting...');
                var value;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("VerifyEmail", "Account")',
                    success: function (res) {
                        $("#btnVerify").text("Pending");
                        if (res == "1") {
                          BootstrapDialog.show({
                              title: '@MyAspNetMvcApp.AppSettings.AppTitle',
                              message: 'An account email verification has been sent. Please check your inbox.'
                          });
                        }
                        else {
                          BootstrapDialog.show({
                              title: '@MyAspNetMvcApp.AppSettings.AppTitle',
                              message: 'Oops. Something went wrong.'
                          });
                        }
                    }
                });
            });
        });

    </script>
}
