@model MyAspNetMvcApp.Areas.Account.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    string hidden = "hidden";
    if (ViewBag.Failed == true)
    {
        hidden = String.Empty;
    }
}
<div class="alert alert-danger @hidden">
    <strong>An error has occured.</strong> Unable to change your password
</div>

@using (Html.BeginForm("ResetPassword", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <h4>Change Password</h4>
    <hr />
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.Email)
    @Html.HiddenFor(m => m.Code)
    @Html.DisplayFor(m => m.Email)
    @Html.DisplayFor(m => m.Code)

    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change password" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    @{
        Html.RenderPartial("_ValidationScriptsPartial");
    }
<script src="@Url.Content("~/Scripts/jquery.dotanimation.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.dotanimation.custom.js")"></script>

}