@model MyAspNetMvcApp.Areas.OrderFramework.ViewModels.ShoppingOrderViewModel
@{
    ViewBag.Title = "Address And Payment";
}


@section Head {
    @if (HttpContext.Current.Request.IsLocal)
    {
        <link href="@Url.Content("~/Content/intlTelInput.css")" rel="stylesheet" />
        <style>
            .iti-flag {
                background-image: url("/images/flags.png");
            }

            @@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
                .iti-flag {
                    background-image: url("/images/flags@2x.png");
                }
            }
        </style>
    }
    else
    {
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.0.2/css/intlTelInput.css" integrity="sha256-Q35kn/SM+AW5mosKvh9cdofWZ2XZQECPFULVWv4LB6U=" crossorigin="anonymous" />
        <style>
            .iti-flag {
                background-image: url("//cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.0.2/img/flags.png");
            }

            @@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
                .iti-flag {
                    background-image: url("//cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.0.2/img/flags@2x.png");
                }
            }
        </style>
    }

    <style>
        .body-content {
            padding-top: 50px;
        }

        input {
            max-width: 100%;
        }

        /*// workaround*/
        .intl-tel-input {
            display: table-cell;
        }

            .intl-tel-input .flag-container {
                z-index: 4;
            }

        .input-group .intl-tel-input .form-control {
            border-top-left-radius: 4px;
            border-top-right-radius: 0;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 0;
        }

        .intl-tel-input {
            width: 768px;
        }
    </style>
}

<div class="row">
    <div class="col-md-8">
        <div class="col-md-9">
            <form action="@Url.Action("AddressAndPayment")" method="post" class="form-horizontal" role="form" id="frm-shopping-order">
                <fieldset>
                    <!-- Form Name -->
                    <legend>Address Details</legend>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Ship To:</label>
                        <div class="col-sm-8">
                            <input type="text" name="@nameof(Model.FullName)" placeholder="First and Last Name" class="form-control">
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Address</label>
                        <div class="col-sm-8">
                            <textarea name="@nameof(Model.Address)" style="max-width:100%" placeholder="Complete Address (House Number, Building and Street Name)" class="form-control"></textarea>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Municipality/City</label>
                        <div class="col-sm-8">
                            <input type="text" name="@nameof(Model.City)" placeholder="Municipality or City" class="form-control">
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">State/Province</label>
                        <div class="col-sm-8">
                            <input type="text" name="@nameof(Model.State)" placeholder="State or Province" class="form-control">
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="Country">Country</label>
                        <div class="col-sm-8">
                            <input type="hidden" name="@nameof(Model.CountryCode)" id="CountryCode" value="63" />
                            <input type="text" name="Country" id="Country" class="form-control" value="Philippines">
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Postal/Zip Code</label>
                        <div class="col-sm-3">
                            <input type="text" name="@nameof(Model.Zip)" placeholder="Postal or Zip Code" class="form-control">
                        </div>
                        <label class="col-sm-1 control-label">Phone</label>
                        <div class="col-sm-4">
                            <input type="text" name="@nameof(Model.Phone)" placeholder="Phone Number" class="form-control">
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>

        <div class="col-md-7 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Payment Details
                    </h3>
                    <div class="checkbox pull-right">
                        <img src="http://i76.imgup.net/accepted_c22e0.png" height="30">
                    </div>
                </div>
                <div class="panel-body">
                    <style scoped>
                        .panel-title {
                            display: inline;
                            font-weight: bold;
                        }

                        .checkbox.pull-right {
                            margin: 0;
                        }

                        .pl-ziro {
                            padding-left: 0px;
                        }

                        input {
                            max-width: none;
                        }

                        label {
                            display: block;
                            /*margin-top: 15px;*/
                        }
                    </style>


                    <div class="form-group">
                        <label for="cardNumber">
                            CARD NUMBER
                        </label>
                        <div class="input-group">
                            <input type="text" name="@nameof(Model.CCNumber)" class="form-control" required form="frm-shopping-order" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        </div>
                    </div>
                    <!-- Name -->
                    <div class="control-group">
                        <label class="control-label" for="username">CARD HOLDER'S NAME</label>
                        <div class="controls">
                            <input type="text" name="@nameof(Model.CCHolderName)" class="form-control" required form="frm-shopping-order" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 col-md-7">
                            <div class="form-group">
                                <label for="expityMonth">
                                    EXPIRY DATE
                                </label>
                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="text" name="@nameof(Model.CCExpiryMonth)" class="form-control" id="expiryMonth" placeholder="MM" required form="frm-shopping-order" />
                                </div>
                                <div class="col-xs-6 col-lg-6 pl-ziro">
                                    <input type="text" name="@nameof(Model.CCExpiryYear)" class="form-control" id="expiryYear" placeholder="YY" required form="frm-shopping-order" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-5 col-md-5 pull-right">
                            <div class="form-group">
                                <label for="cvCode">
                                    CVV2 CODE
                                </label>
                                <input type="password" name="@nameof(Model.CCV)" class="form-control" id="cvCode" placeholder="CVV2" required form="frm-shopping-order" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <ul class="nav nav-pills nav-stacked">
                <li class="active">
                    <a href="#"><span class="badge pull-right"><span class="glyphicon glyphicon-usd"></span>4200</span> Order Total</a>
                </li>
            </ul>
            <br />
            <button type="submit" class="btn btn-success btn-lg btn-block" form="frm-shopping-order">Pay</button>

        </div>


    </div>

</div>

@section Scripts {
    @{ Html.RenderPartial("~/Views/Shared/_ValidationScriptsPartial.cshtml"); }

    <script src="~/Scripts/card.js"></script>
    <link rel="stylesheet" href="~/Content/card.css">
    <script>
        $('.active form').card({ container: $('.card-wrapper') })
        $('form').card({
            // a selector or jQuery object for the container
            // where you want the card to appear
            container: '.card-wrapper', // *required*
            numberInput: 'input#number', // optional — default input[name="number"]
            expiryInput: 'input#expiry', // optional — default input[name="expiry"]
            cvcInput: 'input#cvc', // optional — default input[name="cvc"]
            nameInput: 'input#name', // options - defaults input[name="name"]

            width: 200, // optional — default 350px
            formatting: true // optional - default true
        });
    </script>


    @if (HttpContext.Current.Request.IsLocal)
    {
        <script src="@Url.Content("~/Scripts/intlTelInput.min.js")"></script>
    }
    else
    {
        <script src="//cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.0.2/js/intlTelInput.min.js" integrity="sha256-GcG+mdyVITEoEK5V4P3bpy9MEF4Cz4Dl6Lu7JGrvVuw=" crossorigin="anonymous"></script>
    }

    <script>
        $(document).ready(function () {
            $("#Country").intlTelInput({
                initialCountry: "ph",
                placeholderNumberType: "MOBILE",
                preferredCountries: ['ph', 'us'],
                separateDialCode: false,
                autoHideDialCode: true
            });
        });

        $("#Country").on("countrychange", function (e, countryData) {
            $("#Country").val(countryData.name);
            $("#CountryCode").val(countryData.dialCode);
        });
    </script>


}
