@*<a href='@Url.Action("Index", "ShoppingCart")'>
    <strong>Cart</strong>
    <span id="cart-status" class="badge">@ViewData["CartCount"]</span>
</a>*@
<a class="dropdown-notif" href='@Url.Action("Index", "ShoppingCart")'>
    <i class="fa fa-shopping-cart fa-fw hidden-xs"></i>
    <span class="cart-status visible-xs">Cart (@ViewData["CartCount"])</span>
    <span class="cart-status badge badge-notify hidden-xs">@ViewData["CartCount"]</span>
</a>